// IMPORTS

@import "../../scss/variables.scss";

// STYLING

#shopping-bag-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 74px;
  width: 100%;
  right: 0;
  background-color: $white;
  z-index: 10;
  border: 1px solid $black;

  .empty-bag {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 1em;
    }
  }

  .bag-item {
    display: flex;
    outline: 1px solid $black;
    outline-offset: -1px;

    .bag-item-img {
      width: 25%;

      img {
        width: 100%;
        padding: 0.25em;
      }
    }

    .bag-item-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 75%;

      .info-layout {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > * {
          margin: 0.5em;
        }

        button {
          cursor: pointer;
          color: $blue;
          font-weight: bold;
          background-color: $white;
          border: 0;
          text-transform: uppercase;
          width: fit-content;
          height: fit-content;
        }
      }
    }
  }

  a {
    margin-right: 0;
    text-align: right;
    padding: 1em;
    text-transform: uppercase;
    color: $blue;
    font-weight: bold;
  }

  #bag-checkout-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid $black;
    outline-offset: -1px;

    > * {
      padding: 0.25em 0.75em;
    }

    p {
      white-space: nowrap;
    }
  }
}

@media screen and (min-width: 500px) {
  #shopping-bag-container {
    width: 60%;
  }
}

@media screen and (min-width: 800px) {
  #shopping-bag-container {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  #shopping-bag-container {
    width: 30%;
  }
}
