// IMPORTS

@import "../../../../scss/variables.scss";

// STYLING

.about-container {
  margin-top: 50px;
  height: 200px;
  background-color: $blue;

  p {
    font-size: 20pt;
    color: white;
  }
}
