// IMPORTS

@import "../../../../scss/variables.scss";

// STYLING

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;

  h1 {
    font-size: 60px;
    transform: scale(0.5, 1);
    color: $white;
  }

  p {
    font-family: $bodyTextFont;
    font-style: italic;
    font-size: 16pt;
    color: white;
    padding: 0 1em;
  }
}
