// IMPORTS

@import "../../scss/variables.scss";

// STYLING

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid black;

  #logo-container {
    height: 65px;

    img {
      height: 100%;
    }
  }

  .nav-container {
    display: flex;
    align-items: center;

    i {
      margin: 1em 0.5em;
      cursor: pointer;
      font-size: 18px;
    }

    i:hover {
      color: $blue;
    }

    .nav-bag-container {
      display: none;
    }

    #display-bag {
      display: block;
    }

    nav {
      display: flex;
      align-items: center;

      .hamburger {
        font-size: 24px;
      }

      .hamburger:hover {
        color: $blue;
      }

      ul {
        display: none;
        padding: 0;
        margin: 0;
        z-index: 10;

        li {
          a {
            color: $black;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
          }

          a:hover {
            color: $blue;
          }
        }
      }

      .showMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 20px;
        top: 74px;
        right: 0;
        padding: 1em;
        background-color: $white;
        border: 1px solid $black;
      }

      .showMenu:hover {
        border: 1px solid $blue;
      }
    }
  }
}

header:hover {
  border-bottom: 1px solid $blue;
}

@media screen and (min-width: 768px) {
  header {
    .nav-container {
      i {
        position: absolute;
        right: 15px;
      }

      .nav-bag-container {
        display: block;
      }

      nav {
        height: 100%;

        .hamburger {
          display: none;
        }

        ul {
          display: flex;
          align-items: center;
          position: initial;
          margin-right: 65px;
          height: 100%;

          li {
            height: 100%;
            display: flex;
            align-items: center;

            a {
              padding: 1.75em;
            }
          }

          li:hover {
            outline: 1px solid $blue;
          }
        }
      }
    }
  }
}
