// IMPORTS

@import "../../scss/variables.scss";

// STYLING

#art-container {
  position: relative;
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-transform: uppercase;
  }

  #image-slider {
    position: relative;
    display: inline-block;
    line-height: 0;
    padding: 0 50px;

    img {
      user-select: none;
      width: 250px;
      padding: 1em;
    }

    div {
      position: absolute;
      left: 0;
      width: 25px;
      padding: 0 50px;
      max-width: calc(100% - 50px);
      overflow: hidden;
      resize: horizontal;
    }

    div::before {
      content: "";
      display: block;
      width: 13px;
      height: 13px;
      overflow: hidden;
      position: absolute;
      resize: horizontal;
      right: 3px;
      bottom: 3px;
      background-clip: content-box;
      background: linear-gradient(-45deg, black 50%, transparent 0);
      -webkit-filter: drop-shadow(0 0 2px black);
      filter: drop-shadow(0 0 2px black);
    }

    div::after {
      content: "DRAG ME";
      display: block;
      position: absolute;
      right: 0;
      bottom: 0px;
      overflow: auto;
      font: bold 10px/100% Arial;
      padding: 0.5em;
      background-color: $white;
      border: 1px solid $blue;
      color: $blue;
    }

    ::-webkit-resizer {
      content: "DRAG ME";
    }
  }

  #image-container {
    img {
      width: 250px;
    }
  }
}

@media screen and (min-width: 768px) {
  #art-container {
    #image-slider {
      img {
        width: 325px;
      }
    }

    #image-container {
      img {
        width: 325px;
      }
    }
  }
}
