// IMPORTS

@import "../../../scss/variables.scss";

// STYLING

#dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;

  .add-links {
    text-transform: uppercase;
    color: $blue;
    border: 1px solid $blue;
    padding: 1em;
    margin: 20px auto;
  }

  h3 {
    margin: 10px auto;
    text-transform: uppercase;
  }

  .dashboard-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    // margin: 20px auto;

    .item {
      margin: 20px auto;
      width: 100%;
      border: 1px solid $blue;

      img {
        width: 100%;
      }

      form {
        input {
          background-color: $blue;
          color: $white;
          text-transform: uppercase;
          border: 0;
          padding: 0.5em 1em;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  #dashboard-wrapper {
    h3 {
      margin: 20px auto;
    }
    .dashboard-container {
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%;
      gap: 6.66%;

      .item {
        width: 20%;
        margin: 20px 0;
      }
    }
  }
}
