// IMPORTS

@import "../../../../scss/variables.scss";

// STYLING

.hero-container {
  position: relative;
  align-items: center;
  overflow: hidden;
  padding-bottom: 200px;

  .hero-text {
    margin: 50px auto;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
    width: fit-content;

    p {
      font-weight: 600;
      font-size: 30pt;
      font-size: 5vh;
    }

    h1 {
      font-size: 40pt;
      margin: 0;

      a {
        color: $blue;
      }
    }

    p,
    h1 {
      margin: 10px;
      line-height: 40pt;
    }
  }

  .hero-frame {
    overflow: hidden;
    height: 0;
    padding-top: 70%;
    border: 5px solid black;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
    animation-name: image-rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    background-image: url(../../../../../public/assets/art/undressed.png);
  }

  // HERO ANIMATION

  @keyframes image-rotation {
    20%,
    100% {
      background-image: url(../../../../../public/assets/art/undressed.png);
    }
    45% {
      background-image: url(../../../../../public/assets/art/pink-eye-color.png);
    }
    70% {
      background-image: url(../../../../../public/assets/art/absolut-ingenting.png);
    }
    95% {
      background-image: url(../../../../../public/assets/art/cocontrast.png);
    }
  }

  .hero-image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 100%;
    background-image: url(../../../../../public/assets/hero/hero-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 60%;

    img {
      width: 150px;
      top: 55px;
      left: 27%;
    }
  }
}

@media screen and (min-width: 890px) {
  .hero-container {
    .hero-text {
      position: absolute;
      left: 10%;
      top: 3%;

      p {
        font-size: 50pt;
      }

      h1 {
        font-size: 60pt;
      }

      h1:hover {
        font-size: 70pt;
      }
    }

    .hero-frame {
      width: 20%;
      padding-top: 30%;
      margin-right: 10%;
      margin-top: 10%;
    }

    .hero-image {
      margin-top: 0;
      z-index: -1;
      background-image: url(../../../../../public/assets/hero/hero-desktop.png);
    }
  }
}
