// IMPORTS

@import "../../scss/variables.scss";

// STYLING

#flow-container {
  margin: 75px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .item {
    width: 75%;
    transition: padding 0.25s ease;

    img {
      width: 100%;
    }

    p {
      margin: 0.5em;
      color: $black;
    }
  }

  .item:hover {
    border: 1px solid $blue;
    padding: 1em;
  }
}

@media screen and (min-width: 768px) {
  #flow-container {
    flex-direction: row;
    width: 80%;
    gap: 5%;
    flex-wrap: wrap;

    .item {
      width: 45%;
    }
  }
}

@media screen and (min-width: 1000px) {
  #flow-container {
    .item {
      width: 25%;
    }
  }
}
