/* IMPORTS */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url(../components/Header/header.scss);
@import url(../components/Bag/bag.scss);
@import url(../components/Footer/footer.scss);
@import url(../pages/Home/components/Hero/hero.scss);
@import url(../pages/Home/components/About/about.scss);
@import url(../pages/Flow/flow.scss);
@import url(../pages/ArtSingle/artSingle.scss);
@import url(../pages/ShopSingle/shopSingle.scss);
@import url(../pages/Checkout/checkout.scss);
@import url(../pages/OrderConfirmation/orderConfirmation.scss);
@import url(../pages/Admin/Login/login.scss);
@import url(../pages/Admin/Dashboard/dashboard.scss);

/* GLOBAL */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
